VITE_FUNCTION_URL=https://<function-app>.azurewebsites.net/api/ask
VITE_API_SCOPE=
VITE_ENTRA_TENANT_ID=<tenant-id>
VITE_ENTRA_CLIENT_ID=<client-id>
VITE_REQUEST_TIMEOUT_MS=40000
VITE_CONVERSATION_LIMIT=8
